// code pour le dashboard
// class automatiquement rajouter (.dashboard) dans le main.scss
/*------------------------------------*\
    $ DASHBOARD
\*------------------------------------*/
.dashboard {
    &__content {
        display:               grid;
        grid-gap:              rem($padding-website);
        grid-template-columns: 1fr 300px 1fr;
    }
}