/*------------------------------------*\
    $ projectTasks
\*------------------------------------*/
.projectTasks{
    display:               grid;
    grid-gap:              rem($padding-website);
    grid-template-columns: repeat(3, 1fr);
    margin-top:            rem($h-header);

    &__titre{
        grid-column-start: 1;
        grid-column-end:   5;
    }

    &__list{

    }
}