/*------------------------------------*\
    $ projectTasks
\*------------------------------------*/
.projectTasks{
    display:               grid;
    grid-gap:              rem($padding-website);
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:            rem($h-header);

    &__titre{
        grid-column: 1 / 4;
    }

    &__list{

    }
}