.DS_Store
/node_modules
/public/hot

/public/css
/public/js
/public/images/profils
/public/images/project
/public/images/team

/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
