/*------------------------------------*\
    $ CARDS
\*------------------------------------*/
.card-container {
  @extend .card;
  padding: 30px;
}

.card {
  background-color: #fff;
  border-radius:    $card-radius;
  box-shadow:       $shadow-main;
  position:         relative;
  display:          flex;
  min-height:       rem(60px);
  max-height:       rem(60px);
  
  /*___________ Structure  ___________*/
  /* - - - - - - - - - - - - *\
        $ Header
  \* - - - - - - - - - - - - */
  &__header {}

  /* - - - - - - - - - - - - *\
        $ IMAGE
  \* - - - - - - - - - - - - */
  &__image {
    border-top-left-radius:    $card-radius;
    border-bottom-left-radius: $card-radius;
    object-fit:                cover;
    width:                     100%;
    width:                     rem(60px);
    height:                    rem(60px);
  }

  /* - - - - - - - - - - - - *\
        $ CONTENT
  \* - - - - - - - - - - - - */
  &__content-container {
    padding: rem($card-padding-top) rem($card-padding-right) rem($card-padding-top) rem($card-padding-right);
    width:   100%;
    @extend  %f-y;
    justify-content: space-between;
  }

  /* - - - - - - - - - - - - *\
        $ TITLE
  \* - - - - - - - - - - - - */
  &__title {
    @include font-size($fz-body);
    font-family: $ff-body;
    font-weight: 600;
  }

  /* - - - - - - - - - - - - *\
        $ SUBTITLE
  \* - - - - - - - - - - - - */
  &__subtitle {
    @include font-size($fz-small);
    color:   $grey;
  }

  /* - - - - - - - - - - - - *\
        $ LINK
  \* - - - - - - - - - - - - */
  &__link {
    padding-top:    rem(20px);
    padding-bottom: rem(20px);
    padding-right:  rem(20px);
    padding-left:   rem(10px);
    position:       relative;
    left:           rem(10px);

    &-container {
      display:    inline-block;
      text-align: right;

    }
  }

  /* - - - - - - - - - - - - *\
        $ FOOTER
  \* - - - - - - - - - - - - */
  &__footer {
    display:         flex;
    justify-content: space-between;
    padding-left:    rem($card-padding-right);
    padding-right:   rem($card-padding-right);
    padding-bottom:  rem($card-padding-top);

    img {
      border-radius: 50%;
      height:        rem(30px);
      width:         rem(30px);
      margin-right:  rem(10px);
    }

    a {
      @extend %f-y;
    }
  }
  
  /* - - - - - - - - - - - - *\
        $ DEADLINE
  \* - - - - - - - - - - - - */
  $height-deadline-bar: 7px;
  &__deadline {
    max-width: 150px;
    width:     30%;

    &-bar {
      background:    #E3E3E3;
      border-radius: rem($height-deadline-bar);
      display:       block;
      height:        rem($height-deadline-bar);
      margin-top:    rem(5px);
      position:      relative;
      width:         100%;

      &:after {
        background:    $orange--gradient-rightLeft;
        border-radius: rem($height-deadline-bar);
        content:       '';
        height:        100%;
        left:          0;
        position:      absolute;
        top:           0;
        width:         60%;
      }
    }

    &-date {
      font-family: $ff-title;
      font-weight: 500;
    }
  } // .deadline

  .icon-done {
    g {
      fill: $grey--l1;
    }

    &:hover g {
      fill: $green;
    }
  }
  /*___________  Modifier  ___________*/
  /* - - - - - - - - - - - - *\
        $ HIGH-PRIORITY
  \* - - - - - - - - - - - - */
  &--high-priority {
    background-color: $secondary;
    color:            white;

    /*___________ Structure  ___________*/
    .card {
      &__deadline-bar {
        background:#474747;
      }
      
      &__footer{
        .name {
          color: white;
        }
      }
    }

    .icon-done g{
      fill: #474747;
    }
  }
  /* - - - - - - - - - - - - *\
        $ task
  \* - - - - - - - - - - - - */
  &--task {
    box-shadow: none;
    border:     1px solid $grey--l1;
    
    /*___________ Structure  ___________*/
    .card {
      &__content-container {
        display:         flex;
        justify-content: space-between;
      }
    }

    [type=submit] {
      background: none;
      border:     none;
      padding:    0;
      cursor:     pointer;
    }
  }
} // .card