/*------------------------------------*\
    $ LIST
\*------------------------------------*/
.list{
    background: #FFF;
    box-shadow: $shadow-main;
    padding: rem($padding-list);
    max-width: 300px;
    
    &--projects{

    }
}