/*------------------------------------*\
    $ LIST
\*------------------------------------*/

.list {
  padding:       rem($padding-list);
  border-radius: 5px;
  background:    #FFF;
  box-shadow:    $shadow-main;

  &__content {
    .card--task {
      &:first-child {
        border-top-left-radius:  0;
        border-top-right-radius: 0;
        border-top:              0;
      }

      &:first-child:not(:last-child) {
        border-bottom-left-radius:  0;
        border-bottom-right-radius: 0;
        border-bottom:              0;
      }

      &:not(:first-child):not(:last-child) {
        border-bottom-left-radius:  0;
        border-bottom-right-radius: 0;
        border-top-left-radius:     0;
        border-top-right-radius:    0;
        border-bottom:              0;
      }
      
      &:last-child {
        border-top-left-radius:  0;
        border-top-right-radius: 0;
      }
    }
  }

  &__link {
    display:        block;
    margin-top:     10px;
    font-size:      14px;
    text-align:     right;
    color:          $grey;

    &:after {
      content:     '>';
      margin-left: 5px;
    }
  }

  &--tasks {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    .card--todo {
      border-bottom-left-radius:  0;
      border-bottom-right-radius: 0;
    }
    > section:not(:last-child) {
      margin-bottom: rem(30px);
    }
  }

  &-projects {
    .card:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &-todo {
    padding: 0;
    background: none;
    box-shadow: none;

    .card:not(:last-child) {
      margin-bottom: 20px;
    }

  }

  &-projectTasks {
    
    ul {
      display: flex;
      justify-content: space-between;
    }

    .h1 {
      margin-left: rem(10px);
    }
  }
} // .list