/*------------------------------------*\
    $ LIST
\*------------------------------------*/
.list{
    background: #FFF;
    box-shadow: $shadow-main;
    padding: rem($padding-list);
    
    &--projects{

    }

    &-todo {
        background: none;
        box-shadow: none;
        padding: 0;
    }
}