/*------------------------------------*\
    $ OVERLAY
\*------------------------------------*/
%overlay:after {
  content    : '';
  width      : 100%;
  height     : 100%;
  display    : block;
  background : rgba(0, 0, 0, 0.1);
  position   : absolute;
  top        : 0;
}

/*------------------------------------*\
    $ CENTER ABSOLUTE
\*------------------------------------*/
@each $center in 'x', 'y', 'xy' {
  %a_#{$center}{
    @include center-absolute($center);
  }
}
/* - - - - - - - - - - - - - - - - -*\
    @use :

    @extend %a_x;
    @extend %a_y;
    @extend %a_xy;
\* - - - - - - - - - - - - - - - - -*/

/*------------------------------------*\
    $ CENTER FLEX
\*------------------------------------*/
@each $center in 'x', 'y', 'xy' {
  %f-#{$center}{
    @include center-flex($center);
  }
}
/* - - - - - - - - - - - - - - - - -*\
    @use :

    @extend %f-x;
    @extend %f-y;
    @extend %f-xy;
\* - - - - - - - - - - - - - - - - -*/

/*------------------------------------*\
    $ CENTER BLOCK
\*------------------------------------*/
%b-x {
  @include center-block;
}
/* - - - - - - - - - - - - - - - - -*\
    @use :

    @extend %b-x;
\* - - - - - - - - - - - - - - - - -*/