/*------------------------------------*\
    $ PADDING
\*------------------------------------*/
  $card-padding-right: 10px;
  $card-padding-top:   15px;
  $padding-website:    30px;
  
/*------------------------------------*\
    $ COLORS
\*------------------------------------*/
  $primary:     #FF931E;
  $primary--20: rgba($primary,0.2);
  
  $secondary: #1A1A1A;

  $grey--l2: #F6F6F6;
  $grey--l1: #D9D9D9;
  $grey:     #9C9C9C;
  $grey--d1: #646464;

  $green: #21ED99;

  $danger:  #D0021B;
  $warning: #ffc107;
  $success: #00DEAF;
  $info:    #03a9f4;

  $blue--gradient:             linear-gradient(-45deg, #4FACFE 0%, #00F2FE 100%);
  $orange--gradient:           linear-gradient(-45deg, #F6D365 0%, #FF931E 100%);
  $orange--gradient-topBottom: linear-gradient(-180deg,#F6D365 7%, #FF931E 100%);
  $orange--gradient-rightLeft: linear-gradient(-90deg,#F6D365 7%, #FF931E 100%);
  $green--gradient:            linear-gradient(-45deg, $green 0%, #55D3D4 100%);

/*------------------------------------*\
    $ SHADOWS
\*------------------------------------*/
  $shadow-main : 2px 2px 8px 0 rgba(0,0,0,0.10);

/*------------------------------------*\
    $ FONTS
\*------------------------------------*/

  $ff-body:  'Raleway', arial, sans-serif;
  $ff-title: 'Montserrat', arial, sans-serif;

  $fz-small: 12px;
  $fz-body:  16px; 
  $fz-h1:    50px; 
  $fz-h2:    30px;
  $fz-h3:    20px;
  $fz-h4:    18px;

  // Mobile size
  $fz-small-m: 12px;
  $fz-body-m:  16px; 
  $fz-h1-m:    50px; 
  $fz-h2-m:    30px;
  $fz-h3-m:    20px;
  $fz-h4-m:    18px;

/*------------------------------------*\
    $ PATHS
\*------------------------------------*/
  $pathIMG : "../images/";

/*------------------------------------*\
    $ WIDTH
\*------------------------------------*/
  $w-nav: 250px;

/*------------------------------------*\
    $ HEIGHT
\*------------------------------------*/
  $h-nav:   105px;
  $h-nav-m: 60px;

/*------------------------------------*\
    $ RADIUS
\*------------------------------------*/
  $card-radius: 5px;

/*------------------------------------*\
    $ TRANSITIONS
\*------------------------------------*/
  $bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);

/*------------------------------------*\
    $ OTHER
\*------------------------------------*/
  $list-medias: large-desktop desktop tablet only-tablet mobile landscape print;
  $list-etat: (danger,  $danger),
              (warning, $warning),
              (success, $success),
              (info,    $info);

  $list-color: (primary, $primary),
               (secondary, $secondary);

/*------------------------------------*\
    $ MEDIAS
\*------------------------------------*/
  $mobile        : 575.99px; 
  $tablet        : 767.99px; 
  $desktop       : 991.99px; 
  $large-desktop : 1199.99px;