/*------------------------------------*\
    $ PADDING
\*------------------------------------*/
  $padding-website : 30px;

/*------------------------------------*\
    $ COLORS
\*------------------------------------*/
  $main-background : #F8F9FF;
  $main-grey1 : #6E6E6E;
  $main-grey2 : #A0A0A0;
  $main : #7297FF;
  $main-transparent : rgba($main,0.2);


  $primary     : #00ACDE;
  $primary--l1 : #92DBF0;
  $secondary   : #1D1D1C;
  $grey--d1    : #9B9B9B;
  $grey        : #F5F5F5;
  
  $danger:   #D0021B;
  $warning: #ffc107;
  $success:   $primary;
  $info:    #03a9f4;

/*------------------------------------*\
    $ SHADOWS
\*------------------------------------*/
  $shadow--main : 2px 2px 8px rgba(#A9B3CF,0.2);

/*------------------------------------*\
    $ FONTS
\*------------------------------------*/

  $ff-body:     'Raleway', arial, sans-serif;
    $fz-body:   16px; 
  $ff-title:    'Montserrat', arial, sans-serif;
    $fz-h1:     50px; 
    $fz-h2:     30px;

    $fz-h1-m:   27px;

/*------------------------------------*\
    $ PATHS
\*------------------------------------*/
  $pathIMG : "/Jukesound-ressources/public/images/";

/*------------------------------------*\
    $ WIDTH
\*------------------------------------*/
  $w-nav: 250px;



/*------------------------------------*\
    $ HEIGHT
\*------------------------------------*/
  $h-nav: 105px;
  $h-nav-m: 60px;

/*------------------------------------*\
    $ TRANSITIONS
\*------------------------------------*/
  $bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
/*------------------------------------*\
    $ OTHER
\*------------------------------------*/
  $list-medias: large-desktop desktop tablet only-tablet mobile landscape print;
  $list-etat: (danger,  $danger),
              (warning, $warning),
              (success, $success),
              (info,    $info);

  $list-color: (primary, $primary),
               (secondary, $secondary),
               (danger, $danger);

/*------------------------------------*\
    $ MEDIAS
\*------------------------------------*/
  $mobile        : 575.99px; 
  $tablet        : 767.99px; 
  $desktop       : 991.99px; 
  $large-desktop : 1199.99px;