/*------------------------------------*\
    $ NAV
\*------------------------------------*/
.main-nav {
	background-color:     #FFF;
	box-shadow:           $shadow-main;
	display:              flex;
	flex:                 1;
	height:               100%;
	position:             fixed;
	top:                  0px;

	&__logo {
		padding-bottom:     rem(15px);
		width:              rem(150px);
	}
	
	&__titre {
		color:              $grey;
		font-size:          rem(14px);
		padding-bottom:     rem(20px);
	}
	
	&__container {
		display:            flex;
		flex-direction:     column;
		padding:            rem($padding-website);
		position:           relative;
		width:              100%;
	}
	
	&__item {
		padding:            rem(10px) 0;
		width:              100%;

		&:hover a,
		.active{
			color:$primary;
		}

		svg{
			width:						rem(30px);
			height:						rem(20px);
			max-width:				rem(30px);
			max-height:				rem(20px);
			margin-right:			rem(10px);
		}

		> a {
			color:             $grey;
			font-size:         rem(14px);
			display:           flex;
			align-items:       center;
			transition: 			 all 150ms ease-out;
		}
			
		&.compte {
			bottom:            0;
			left:              0px;
			position:          absolute;
			width:             100%;
		}
	}
    
	&__compte {
		align-items:        center;
		display:            flex;
    padding: 						rem(10px);
	}

}