body {
  background-color: $grey--l2;
  
  > nav {
    max-width: rem($w-nav);
    width:     100%;
  }
  
  > main {
    position:     relative;
    padding:      rem($padding-website);
    margin-left:  rem($w-nav + $padding-website);
  }
}