body {
  background-color: $grey--l2;
  
  > nav {
    max-width: rem($w-nav);
    width:     100%;
  }
  
  > main {
    padding:      rem($padding-website);
    padding-left: rem($w-nav + $padding-website);
  }
}