/*------------------------------------*\
    $ TYPOGRAPHY
\*------------------------------------*/
body {
  @include     font-size($fz-body);
  color:       $secondary;
  font-family: $ff-body;
  font-weight: normal;
}

a {
  color           : $secondary;
  text-decoration : none;
  
  &:hover {
    color : $primary;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
}

.h1 {
  @include font-size($fz-h1);
}

.h2 {
  @include font-size($fz-h2);
}

.h3 {
  @include       font-size($fz-h3);
  color:         $grey;
  margin-bottom: rem(10px);
}

.h4 {
  @include font-size($fz-h4);
}